<%- include('./partials/head') %>

<%- include('./partials/header') %>
<main>
    <nav>
        <h2>All polls</h2>
        <a href="/admin">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" viewBox="0 0 20.771 20.525">
                <defs>
                    <clipPath id="clip-path">
                    <rect data-name="Rectangle 19" width="20.771" height="20.525" fill="#391599"/>
                    </clipPath>
                </defs>
                <g data-name="Group 18" clip-path="url(#clip-path)">
                    <path data-name="Path 5" d="M15.37,1.919c-.044.414-.1.991-.169,1.567a.351.351,0,0,0,.174.415.473.473,0,0,1,.156.129.657.657,0,0,0,.849.188c.47-.157.955-.269,1.434-.4a1.062,1.062,0,0,1,1.224.453c.282.444.543.9.783,1.371A1.045,1.045,0,0,1,19.6,6.911c-.424.418-.851.834-1.284,1.242a.306.306,0,0,0-.116.373.1.1,0,0,1,.012.043c-.039.56.279.82.77.98a9.1,9.1,0,0,1,.965.437,1.158,1.158,0,0,1,.8,1.43c-.057.424-.14.846-.239,1.263a1.122,1.122,0,0,1-1.13.919q-.868.05-1.735.133a.488.488,0,0,0-.234.156c-.047.044-.058.125-.1.173a.741.741,0,0,0-.05.988c.229.387.394.811.584,1.22a1.089,1.089,0,0,1-.27,1.409c-.359.321-.731.63-1.114.92a1.069,1.069,0,0,1-1.36,0c-.49-.35-.974-.71-1.468-1.054a.408.408,0,0,0-.278-.037c-.124.022-.237.1-.361.123-.3.046-.406.232-.467.508-.116.52-.262,1.034-.4,1.549a1.077,1.077,0,0,1-1.053.83c-.482.009-.964.01-1.446,0a1.1,1.1,0,0,1-1.077-.866c-.153-.589-.295-1.181-.456-1.768-.022-.082-.122-.144-.191-.21-.02-.019-.058-.017-.083-.033a.9.9,0,0,0-1.2.17,11.6,11.6,0,0,1-1.009.724,1.09,1.09,0,0,1-1.4-.026c-.379-.3-.745-.612-1.1-.937a1.083,1.083,0,0,1-.256-1.356c.249-.523.5-1.044.762-1.561.074-.147.111-.272-.016-.406a.391.391,0,0,1-.091-.155c-.116-.4-.415-.48-.788-.492-.5-.017-1.008-.063-1.508-.125A1.043,1.043,0,0,1,.268,12.6q-.155-.762-.26-1.534a1.092,1.092,0,0,1,.678-1.12c.54-.247,1.081-.493,1.627-.725a.3.3,0,0,0,.216-.3.9.9,0,0,1,.051-.311.508.508,0,0,0-.192-.639C2,7.62,1.643,7.244,1.276,6.875a1.088,1.088,0,0,1-.224-1.4c.222-.418.462-.828.718-1.227A1.093,1.093,0,0,1,3.1,3.757c.572.16,1.141.328,1.715.478a.388.388,0,0,0,.273-.061c.132-.084.234-.217.368-.3a.388.388,0,0,0,.193-.433c-.061-.561-.1-1.125-.165-1.687A1.091,1.091,0,0,1,6.123.6C6.621.388,7.132.2,7.649.047A1.066,1.066,0,0,1,8.865.528q.506.735,1,1.478a.346.346,0,0,0,.269.154,1.028,1.028,0,0,0,1.206-.628A8.82,8.82,0,0,1,12.027.526,1.058,1.058,0,0,1,13.253.079a15.874,15.874,0,0,1,1.5.554c.449.191.662.611.617,1.286M6.463,3.667a.767.767,0,0,1-.322.685c-.188.15-.383.3-.556.462a.868.868,0,0,1-.931.222C4.072,4.857,3.483,4.7,2.9,4.53a.366.366,0,0,0-.478.175c-.207.358-.425.71-.626,1.071-.153.275-.133.359.085.576q.658.654,1.318,1.3a.782.782,0,0,1,.236.781,5.41,5.41,0,0,0-.131.709.829.829,0,0,1-.536.742c-.551.24-1.1.488-1.648.735-.3.135-.352.215-.3.543.061.394.144.784.207,1.177a.382.382,0,0,0,.413.355c.638.045,1.275.108,1.913.163a.75.75,0,0,1,.635.441,7.272,7.272,0,0,0,.369.646.826.826,0,0,1,.049.894c-.281.557-.544,1.124-.822,1.683a.359.359,0,0,0,.09.484c.32.274.643.546.961.823a.4.4,0,0,0,.566.014c.5-.366,1.008-.714,1.51-1.073a.806.806,0,0,1,.851-.09,4.542,4.542,0,0,0,.632.239.881.881,0,0,1,.673.734c.134.594.3,1.181.443,1.772.041.164.124.275.3.28.444.01.888.014,1.332.025.265.006.387-.131.447-.38.143-.592.3-1.179.458-1.768a.792.792,0,0,1,.577-.6,5.97,5.97,0,0,0,.7-.252.837.837,0,0,1,.908.117c.494.37,1,.724,1.5,1.09a.359.359,0,0,0,.492,0c.331-.274.66-.549.992-.821a.375.375,0,0,0,.1-.518c-.275-.56-.531-1.129-.8-1.693a.8.8,0,0,1,.052-.834,6.959,6.959,0,0,0,.388-.662.836.836,0,0,1,.757-.482c.616-.04,1.232-.094,1.848-.13a.349.349,0,0,0,.376-.311c.076-.414.148-.829.232-1.241a.385.385,0,0,0-.252-.485c-.563-.252-1.118-.521-1.682-.77A.846.846,0,0,1,17.5,9.24a4.831,4.831,0,0,0-.109-.668.851.851,0,0,1,.271-.9c.45-.423.886-.862,1.333-1.289a.347.347,0,0,0,.079-.466c-.21-.374-.425-.745-.635-1.118a.392.392,0,0,0-.517-.185c-.6.171-1.2.328-1.805.492a.781.781,0,0,1-.776-.177c-.219-.2-.447-.381-.671-.57a.751.751,0,0,1-.287-.678c.063-.637.125-1.274.2-1.909a.377.377,0,0,0-.256-.462c-.394-.146-.79-.288-1.183-.438a.387.387,0,0,0-.517.178c-.327.488-.68.959-1,1.451a.9.9,0,0,1-.908.46,4.117,4.117,0,0,0-.632,0,.844.844,0,0,1-.819-.412c-.339-.516-.694-1.022-1.036-1.536A.368.368,0,0,0,7.756.841c-.353.127-.713.239-1.062.375-.433.168-.448.224-.4.7.064.584.111,1.169.166,1.754" transform="translate(0.001 -0.001)" fill="#391599"/>
                    <path data-name="Path 6" d="M46.274,48.159a3.988,3.988,0,1,1,4,4,3.979,3.979,0,0,1-4-4m4,3.207a3.2,3.2,0,1,0-3.2-3.18,3.2,3.2,0,0,0,3.2,3.18" transform="translate(-39.865 -38.064)" fill="#391599"/>
                </g>
            </svg>    
        </a>
    </nav>
    <% data.forEach(item => { %>
    <form method="post" enctype="application/x-www-form-urlencoded" action="/<%- item.pollID %>">
            <fieldset>
            <h3><%- item.question %></h3> 
            <div class="author">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="21"
                    height="21" viewBox="0 0 21 21">
                    <defs>
                        <clipPath id="clip-path">
                            <rect id="Rectangle_8" data-name="Rectangle 8" width="9.761" height="10.645"
                                fill="#fff" />
                        </clipPath>
                    </defs>
                    <circle id="Ellipse_1" data-name="Ellipse 1" cx="10.5" cy="10.5" r="10.5" fill="#390099" />
                    <g id="Group_14" data-name="Group 14" transform="translate(5.62 4)">
                        <g id="Group_4" data-name="Group 4" clip-path="url(#clip-path)">
                            <path id="Path_3" data-name="Path 3"
                                d="M54.7,2.591a2.66,2.66,0,0,1-5.318,0,2.66,2.66,0,0,1,5.318,0"
                                transform="translate(-47.163)" fill="#fff" />
                            <path id="Path_4" data-name="Path 4"
                                d="M6.5,115.57a3.205,3.205,0,0,1-3.248,0A6.12,6.12,0,0,0,0,121.15H9.761A6.12,6.12,0,0,0,6.5,115.57"
                                transform="translate(0 -110.505)" fill="#fff" />
                        </g>
                    </g>
                </svg>
                <% if(item.creator === "") { %>
                    <p>Anonymous</p>
                <% } else { %>
                    <p><%- item.creator %></p>
                <% }%>
            </div>
            <div class="answers">
                <input onclick="submit()" type="checkbox" id="<%- item.answerA %>" class="A" value="<%- item.answerA %>" name="answer">
                <label for="<%- item.answerA %>"><%- item.answerA %></label>
                <input onclick="submit()" type="checkbox" id="<%- item.answerB %>" class="B" value="<%- item.answerB %>" name="answer">
                <label for="<%- item.answerB %>"><%- item.answerB %></label>
            </div>
        </fieldset>
    </form>
    <% }); %>
</main>
<footer>
    <p>No more polls found! :(</p>
</footer>

<%- include('./partials/foot') %>